<div class="field">
  <div>
      <i class="fas fa-user user icon"></i>
      <input type="text" class="form-control" placeholder="username" name="username" required autocomplete="off">
  </div>
</div>
<div class="field">
  <div>
      <i class="fas fa-lock lock icon"></i>
      <input type="password" class="form-control" placeholder="password" name="password" required autocomplete="off">
  </div>
</div>