<div class="field">
  <div>
      <i class="fas fa-key lock icon"></i>
      <input type="password" class="form-control" placeholder="confirm password" name="password2" required autocomplete="off">
  </div>
</div>