<%- include('partials/header'); -%>

<div style="text-align: center">
  <div class="receipes" style="margin-top: 30px">
    <h3 style="font-family: itallic">Receipe</h3>
    <a href="/dashboard/newreceipe"
      ><button type="button" class="btn btn-outline" style="color: #d980fa">
        New Receipe
      </button></a
    >
    <a href="/dashboard/myreceipes"
      ><button type="button" class="btn btn-outline" style="color: #d980fa">
        Show Receipes
      </button></a
    >
  </div>

  <div class="favourites" style="margin-top: 30px">
    <h3 style="font-family: itallic">Favourites Receipes</h3>
    <a href="/dashboard/favourites/newfavourite"
      ><button type="button" class="btn btn-outline" style="color: #d980fa">
        Add a Fav One
      </button></a
    >
    <a href="/dashboard/favourites"
      ><button type="button" class="btn btn-outline" style="color: #d980fa">
        Show Favs
      </button></a
    >
  </div>

  <div class="schedules" style="margin-top: 30px">
    <h3 style="font-family: itallic">Schedule</h3>
    <a href="/dashboard/schedule/newschedule"
      ><button type="button" class="btn btn-outline" style="color: #d980fa">
        New Schedule
      </button></a
    >
    <a href="/dashboard/schedule"
      ><button type="button" class="btn btn-outline" style="color: #d980fa">
        Show Schedule
      </button></a
    >
  </div>
</div>

<%- include('partials/footer'); -%>
